Options -Indexes

#ÊBEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

#ÊEND WordPress

# redirect 301 index.html http://www.synergysolutionsinc.com/wordpress/index.php
# redirect 301 awards.html http://www.synergysolutionsinc.com/wordpress/company/
# redirect 301 affiliations.html http://www.synergysolutionsinc.com/wordpress/company/
# redirect 301 careers.html http://www.synergysolutionsinc.com/wordpress/company/careers/
# redirect 301 community.html http://www.synergysolutionsinc.com/wordpress/company/giving-back/
# redirect 301 contact.html http://www.synergysolutionsinc.com/wordpress/contact/
# redirect 301 compliance.html http://www.synergysolutionsinc.com/wordpress/why-outsource/technology-and-compliance/
# redirect 301 facilities.html http://www.synergysolutionsinc.com/wordpress/company/locations/
# redirect 301 news.html http://www.synergysolutionsinc.com/wordpress/resource-library-2/
# redirect 301 management.html http://www.synergysolutionsinc.com/wordpress/company/meet-the-team/
# redirect 301 services.html http://www.synergysolutionsinc.com/wordpress/solutions/
# redirect 301 technology.html http://www.synergysolutionsinc.com/wordpress/why-outsource/technology-and-compliance/